/*

    MIXINS AND VARIABLES
    ====================

    All mixins and variables live here. Where possible, please include
    a source link if they're written by someone else along with an
    indication of how they should be used in the css files.

*/



/* Colour Palette */
$white: #fff;

/* REM Font sizing - http://blog.divshot.com/post/29552945105/useful-sass-mixins-for-responsive-design-font-sizing */
// Use: @include font-size(1,1.5);
@mixin font-size($size: 1, $line: $size * 1.5) {
	font-size     : ($size * 16) + px;
	line-height   : ($line * 16) + px;
	font-size     : $size + rem;
	line-height   : $line + rem;
	}

/* Define Media Queries - http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
// Use: @include bp-s {};
@mixin bp-s {
    @media only screen and (min-width: 30em) { @content; }
    }

@mixin bp-m {
    @media only screen and (min-width: 37.5em) { @content; }
    }

@mixin bp-l {
    @media only screen and (min-width: 48em) { @content; }
    }

@mixin bp-xl {
    @media only screen and (min-width: 64em) { @content; }
    }

@mixin bp-xxl {
    @media only screen and (min-width: 78.75em) { @content; }
    }

/* Hover animation */
// Use: @include hover-fade;
@mixin hover-fade {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	}

/* Gradient */
// Use: @include gradient(#f36,#f60);
@mixin gradient($from, $to) {
    background:         -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background:         -moz-linear-gradient(top,  $from, $to);
    background-image:   -ms-linear-gradient(top, $from, $to);
    background-image:   -o-linear-gradient(top, $from, $to);
    -ms-filter:         "progid:DXImageTransform.Microsoft.gradient(startColorStr='$from', EndColorStr='$to')";
    filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
    }

/* Clearfix http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
// Use: @extend %clearfix;
%clearfix {
    *zoom: 1;

    &:before {
        content: " ";
        display: table;
        }

    &:after {
        content: " ";
        display: table;
        clear: both;
        }
    }

/* Visually hide element http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/ */
// Use: @extend %visuallyhidden;
%visuallyhidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
    }

/* Image floats */
// Use: @extend %floatleft
%floatleft {
    display: block;
    margin: 0 1em 1em 0;
    @include bp-m {
        float: left;
        display: inline;
        }
    }

// Use: @extend %floatright
%floatright {
    display: block;
    margin: 0 0 1em 1em;
    @include bp-m {
        float: right;
        display: inline;
        }
    }
