/*

    SITEWIDE LAYOUT ELEMENTS
    ========================

    Top level layout elements go in here, if you're building a module or page
    element of some sort, split it out into its own scss file and update
    styles.scss to import it.

*/

body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    }

ul, ol {
    margin: 0 0 1.5em 1.5em;
    }

li {
    > ul,
    > ol {
         margin-bottom:0;
         }
    }

img,
a img {
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    min-height: auto;
    vertical-align: middle;
    }

figure, img {

    }

figure {

    figcaption {

        }
    }